#SignLayout {
  margin-top: 4rem;
}

#SignLayout main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64rem;
  height: calc(100vh - 230px);
  margin: 0 auto;
}

#SignLayout #loginField {
  width: 100%;
}

#SignLayout .label-wrap {
  margin-bottom: 2.4rem;
}

#SignLayout .label-wrap label {
  font-size: 1.8rem;
  line-height: 2.148rem;
  font-weight: 700;
  color: var(--gray-800);
}

#SignLayout .label-wrap p.error-msg {
  font-size: 1.5rem;
  line-height: 1.79rem;
  font-weight: 600;
  color: var(--error-red);
  margin-top: 0.8rem;
  margin-left: 1.6rem;
}

#SignLayout label.input__pw > div,
#SignLayout label.input__checkpw > div {
  position: relative;
}

#SignLayout label.input__pw img,
#SignLayout label.input__checkpw img {
  position: absolute;
  right: 2.4rem;
  bottom: 1.6rem;
}

#SignLayout #loginField input {
  width: 100%;
  border-radius: 1.2rem;
  height: 5.6rem;
  margin-top: 1.6rem;
  padding: 2.4rem 1.6rem;
  background-color: var(--gray-100);
  border: 0;
}

#SignLayout #loginField input:focus {
  outline: thin solid var(--Primary-100);
}

#SignLayout #loginField input.error {
  outline: thin solid var(--error-red);
}

#SignLayout #loginField button {
  width: 100%;
  height: 5.6rem;
  border: 0;
  border-radius: 40px;
  background-color: var(--Primary-100);
  color: white;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

#SignLayout #loginField button:disabled {
  background-color: var(--gray-400);
}

#SignLayout .sns-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #e6f2ff;
  width: 100%;
  height: 7.4rem;
  margin: 2.4rem auto;
  padding: 2.5rem 2.3rem;
}

#SignLayout .sns-login > div {
  display: flex;
  gap: 1.6rem;
}

#SignLayout .footer-link {
  text-align: center;
  width: 64rem;
  margin: 0 auto;
}

#SignLayout .footer-link p {
  font-size: 1.5rem;
  line-height: 1.78992rem;
  font-weight: 500;
  color: var(--gray-800);
}

#SignLayout .footer-link a {
  color: #3182f6;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Mobile */
@media (max-width: 743px) {
  #SignLayout main {
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  #SignLayout body * {
    max-width: 432px;
  }
}
